<!DOCTYPE html>
<html>

<body>

<h2><%= @listing.name %></h2>
<h4><%= @listing.description %>
<br>£<%= @listing.price_per_night %> per night
<br>Host: <%= @host.name %>  </h4>

<% if @user %>
<form action='/bookings' method='post'>
    <input type="hidden" name="listing_id" value="<%=@listing.id%>">
    <input type='submit' value='Book'/>
</form>
<% else %>
To book, please log in or sign up

<%end%>


<form action='/listings' method='get'>
  <input type='submit' value='Back'/>
</form>

</body>
